*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #373737;
}

h1{
    color: white;
    letter-spacing: 3px;
}

.calculator__container {
    max-width: 300px;
    margin: 10vh auto 0 auto;
}

#calculator__display {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 30px;
    background-color: #262626;
    border-radius: 10px;
    color: white;
}

.calculator__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    background-color: #303030;
    height: 70px;
    width: 100%;
    border-radius: 10px;
    color: white;
}

.button--dark{
    background-color: #2A2A2A;
}

#equal {
    background-color: #FF812D;
    color: white;
}

#equal:hover{
    background-color: #faa166;
}

.button:hover {
    background-color: #484848;
    transition: 0.2s ease-in-out;
}